<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
        <a class="navbar-brand" href="#">Fx Trading</a>
      
        <div class="collapse navbar-collapse " >
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/home">Home </a>
            </li>
           
          </ul>
    
        </div>
      </nav>
<div class=" text-center " style="color: green; margin-top: 10%;">
    <h1 >Thank You!</h1>
    <p class="lead"><strong>Have a nice day</strong></p>
  </div>
</div>