<!-- <div class ="panel" >
    <p style="font-weight: bold; background-color:aquamarine; padding: 50px; ">
     FX Trading</p>                
  </div>
   <div class="conatiner"> 
  
     <div class="row">
      <div class="col"> 
  
        <div class="loginform">
           
            <button  class="container1" 
             routerLink = "/book" (click)="onPrint()"

             style="cursor: pointer"> 
              Book
            </button>
  
            <br> <br>
            <button class="container1" 
            routerLink = "/print" (click)="onPrint1()
            style="cursor: pointer;"> 
            Print
            </button>
            <br> <br>
            <button class="container1" 
            routerLink = "/exit"
            style="cursor: pointer;"> 
          Exit
            </button>
           </div>
        </div> 
    </div> 
   </div> 
   <br>
   <div class ="panel" >
    <p style="font-weight: bold; background-color:skyblue; padding: 50px; ">
     Choose the options and start your Trading </p>                
  </div>
  
  <body>
    <div class="panel">
    <marquee style="font-weight: bold; background-color:aquamarine; padding: 50px; ">Choose the option and start your trade</marquee>
</div>  
</body>       -->                                      
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    <div class="card text-center col-4" style="margin-left: 25%;
    margin-top:25%; width: 50%;"  >
        <button routerLink="/activity" class="btn btn-primary  btn-block" >
            activity
        </button>
    </div>
</body>
</html>
